{% extends '::layout.html.twig' %}

{% block title %}Formations - {{ parent() }}{% endblock %}

{% block header %}
    <h1>Plateforme des Formations</h1>
{% endblock %}

{% block menu %}
    <h3>Les formations disponibles</h3>
    <ul>
        <li><a href="{{ path('pw6_formation_home') }}">Accueil</a></li>
        {% if app.user.getRole() == 'ROLE_ADMIN' %}
            <li><a href="{{ path('pw6_formation_add') }}">Ajouter une formation</a></li>
        {% endif %}

    </ul>
    <h4>Dernières formations</h4>
    {{ render(controller('PW6FormationBundle:Advert:menu')) }}
{% endblock %}


{% block body %}

    <h1>Formations</h1>
    <h5>Nous sommes le {{ 'now'|date('d/m/Y') }}</h5>
    <hr>
    {% block pw6formation_body %}{% endblock %}

{% endblock %}
