<h3>Formulation d'ajout de Recrutement</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
    {% if form.date is defined %}{{ form_row(form.date) }}{% endif %}

    <div class="form-group">
        {{ form_label(form.title, 'Titre du poste', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.title) }}

        <div class="col-sm-10">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.content, 'Contenu du poste', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.title) }}
        <div class="col-sm-10">
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {{ form_row(form.responsable) }}
    {{ form_row(form.at) }}
    {{ form_row(form.time) }}
    {{ form_row(form.budget) }}
    {{ form_row(form.requirements) }}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
