{% extends 'PW6RecrutementBundle::layout.html.twig' %}

{% block pw6gestionnaire_body %}

<h2>Listes des Recrutement</h2>
<ul>
    {% for advert in listAdverts %}
        <li>
            <a href="{{ path('pw6_recrutement_view', {'id': advert.id}) }}">
                {{ advert.title }}
            </a>
            par {{ advert.author }},
            le {{ advert.date|date('d/m/Y') }}
            {% if advert.updatedAt is not null %}, modifiée le {{ advert.updatedAt|date('d/m/Y H:i:s') }}{% endif %}
        </li>
    {% else %}
        <li>Pas d'annonces de postes en tant que gestionnaire</li>
    {% endfor %}
</ul>

{% endblock %}
