{% extends '::layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block header %}<h1>Liste du personnel</h1>{% endblock %}

{% block body %}
    <ul>
        {% for item in list %}
            <li>
                <a href="{{ path('pw6_user_view', {'id': item.id}) }}">
                    {{ item.username }}
                </a>,
                {{ item.fname }} {{ item.pname }} {{ item.id }}
                <a href="{{ path('pw6_admin_up', {'id': item.id }) }}">
                    <i class="glyphicon glyphicon-log-in"></i> En faire un administrateur
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <p>
        <a href="{{ path('pw6_admin_add') }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-log-in"></i> Ajouter un utilisateur
        </a>
    </p>
{% endblock %}
