{% extends "::layout.html.twig" %}

{% block header %}
<h1>Votre fiche personnelle, {{ user.username }}</h1>
{% endblock %}

{% block body %}
{{ parent() }}
<div class="row">
    <h3 class="col-xs-12 col-md-6">Données</h3>
    <div class="col-xs-12 col-md-6 col-md-offset-1 well bold">
        <div class="col-xs-7">Nom :</div><div class="col-xs-5 text-info">{{ perso.fname }}</div>
        <div class="col-xs-7">Prénom :</div><div class="col-xs-5 text-info">{{ perso.pname }}</div>
        <div class="col-xs-7">E-mail</div><div class="col-xs-5 text-info">{{ user.mail }}</div>
    </div>

    <h3 class="col-xs-12 col-md-6">Informations personnelles</h3>
    <div class="col-xs-12 col-md-6 col-md-offset-1 well bold">
        {% if perso.sex == 0 %}
        <div class="col-xs-7">Sexe</div><div class="col-xs-5 text-info">Homme</div>
        {% else %}
        <div class="col-xs-7">Sexe</div><div class="col-xs-5 text-info">Femme</div>
        {% endif %}
        <div class="col-xs-7">Date de naissance</div><div class="col-xs-5 text-info">{{ perso.birth.format("j/m/Y") }}</div>
    </div>

    {% if user.username == perso.username %}
    <h3 class="col-xs-12 col-md-6">Informations professionnelles</h3>
    <div class="col-xs-12 col-md-6 col-md-offset-1 well bold">
        {% if perso.Contrat == 0 %}
            <div class="col-xs-7">Type de contrat</div><div class="col-xs-5 text-info">CDD</div>
            <div class="col-xs-7">Durée du contrat</div><div class="col-xs-5 text-info">{{ perso.time }} mois</div>
        {% else %}
            <div class="col-xs-7">Type de contrat</div><div class="col-xs-5 text-info">CDI</div>
        {% endif %}
        <div class="col-xs-7">Salaire</div><div class="col-xs-5 text-info">{{ perso.salary }}€</div>
        <div class="col-xs-7">Supérieur</div><div class="col-xs-5 text-info">{{ perso.superieur}}</div>
        <div class="col-xs-7">Jour de Formation restants</div><div class="col-xs-5 text-info">{{ perso.formation}}</div>
    </div>
    {% endif %}
</div>

<p>
    <a href="{{ path('pw6_user_edit', {'id': user.id }) }}" class="btn btn-warning">
        <i class="glyphicon glyphicon-edit"></i> Modifier mon profil
    </a>
    {% if app.user.getRole() == 'ROLE_ADMIN' %}
    <a href="{{ path('pw6_user_delete', {'id': user.id }) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i> Supprimer ce profil
    </a>
    <a href="{{ path('pw6_admin_up', {'id': user.id }) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-tower"></i> Ajouter ce profil aux administrateurs
    </a>
    {% else %}
    <a href="/logout" class="btn btn-danger">
        <i class="glyphicon glyphicon-off"></i> Déconnexion
    </a>
    {% endif %}
</p>
{% endblock %}
