{% extends 'PW6FormationBundle::layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block pw6formation_body %}
    <h2>Listes des formations</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('pw6_formation_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }}, 
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas de formations disponibles</li>
        {% endfor %}
    </ul>
{% endblock %}
