{% extends 'PW6FormationBundle::layout.html.twig' %}

{% block pw6formation_body %}
<h2>{{ advert.title }}</h2>
<i>{{ advert.author }}, le {{ advert.date|date('d/m/Y H:i:s') }}
    {% if advert.updatedAt is not null %}, modifiée le {{ advert.updatedAt|date('d/m/Y H:i:s') }}{% endif %}</i>
    <div class="well well-lg">
        <p>
            Contenu : <br><br> {{ advert.content }}
        </p>
        <br>
        <p>
            Responsable : {{ advert.responsable }}
        </p>
        <p>
            Lieu : {{ advert.at }}
        </p>
        <p>
            Conditions : {{ advert.requirements }}
        </p>
        <p>
            Temps (jours) : {{ advert.time }}
        </p>
        {% if user.role == 'ROLE_ADMIN' %}
        <p>
            Nombre de places restantes : {{ advert.nb }}
        </p>
        {% endif %}
    </div>

    {% if user.role == 'ROLE_ADMIN' %}
    {% for item in list %}
        <li>{{ item.author }}
            <a href="{{ path('pw6_admin_up', {'id': item.id }) }}">
                <i class="glyphicon glyphicon-ok"></i>
            </a>
            <a href="{{ path('pw6_admin_up', {'id': item.id }) }}">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </li>
    {% else %}
        <li>Pas encore d'application</li>
    {% endfor %}
    {% endif %}

    <br>
    <p>
        <a href="{{ path('pw6_formation_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste
        </a>
        {% if user.role == 'ROLE_ADMIN' %}
        <a href="{{ path('pw6_formation_edit', {'id': advert.id }) }}" class="btn btn-warning">
            <i class="glyphicon glyphicon-edit"></i> Modifier cette formation
        </a>
        {% endif %}
        {% if user.role == 'ROLE_USER' %}
        <a href="{{ path('pw6_formation_apply', {'id': advert.id }) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-right"></i> Appliquer à cette formation
        </a>
        {% endif %}
        {% if user.role == 'ROLE_ADMIN' %}
        <a href="{{ path('pw6_formation_delete', {'id': advert.id }) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i> Supprimer cette formation
        </a>
        {% endif %}
    </p>
{% endblock %}
